/* * {
  border: 1px solid red;
} */

.member_cont {
  border: 0;
  /* border-top: 1px solid #dbdbdb; */
  width: 92%;
  padding: 100px 0;
  margin: auto;
}

.member_cont .member_join_box .member_join_shop {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dcdcdc;
}

.shop_mall_join {
  display: block;
  padding: 20px 0 20px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #3e3d3c;
}

.chk_none {
  display: block;
  min-height: 17px;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 19px;
  color: #906d4f;
  text-align: left;
  font-weight: normal;
  font-size: 11px;
  background: url(../IMG/icon_warning.png) no-repeat left 8px;
}

.member_guide_txt {
  text-align: center;
  margin-bottom: 100px;
  padding: 18px 0 20px 0;
  color: #666666;
  font-size: 12px;
}
